server/keys
server/certs
IMPLEMENTATION.md
familycall-server
.vscode/sftp.json
config.json
server/builds
server/familycall.db
server/familycall-server
frontend/node_modules
frontend/dist
server/static/dist/*
!server/static/dist/.gitkeep
familycall.db